
<form action="/items" method="post" data-remote="true" class="new_item well form-inline">
  <label>
    New item: <input type="text" name="content" />
  </label>
  <button class="btn">Create</button>
</form>

<ul id="items">
  <li class="item template">hello</li>
</ul>
